%%-*- mode: erlang -*-

{deps_dir, ["deps"]}.

{deps, [
        {eper, "0.*", 
         {git, "git://github.com/massemanet/eper.git", 
          "HEAD"}}
       ]}.

%% Erlang compiler options
%{erl_opts, [{i, "include"}]}.

%% Add this to a projects rebar.config which is using eml
%{plugins, [ rebar_eml_plugin ]}.
%{plugin_dir, "deps/rebar_eml_plugin/src"}.
